<!DOCTYPE html>

{{> main}}

<head>
	<link rel="stylesheet" type="text/css" href="/site_style.css"/>
</head>
<body>

	<a href="/weallwant" style='display:{{vidVal}};'>
        <div class="photos-container">
		<div class="pic" id="photo-rainforest"></div>
		<div class="pic" id="photo-rainforest"></div>
		<div class="pic" id="photo-rainforest"></div>
		<div id="o"></div>
	    </div>
    </a>

	<a href="/weallwant" style='display:{{vidVal}};'>
        <div class="photos-container">
		<div class="pic" id="photo-weallwant"></div>
		<div class="pic" id="photo-weallwant"></div>
		<div class="pic" id="photo-weallwant"></div>
		<div id="o"></div>
	    </div>
    </a>

    <a href="/hitmewithurlove" style='display:{{vidVal}};'>
	    <div class="photos-container">
		<div class="pic" id="photo-diamond"></div>
		<div class="pic" id="photo-diamond"></div>
		<div class="pic" id="photo-diamond"></div>
		<div id="o"></div>
	    </div>
    </a>

    <a href="/hitmewithurlove" style='display:{{picsVal}};'>
	    <div class="photos-container">
		<div class="pic" id="photo-kim"></div>
		<div class="pic" id="photo-kim"></div>
		<div class="pic" id="photo-kim"></div>
		<div id="o"></div>
	    </div>
    </a>

    <a href="/hitmewithurlove" style='display:{{funVal}};'>
	    <div class="photos-container">
		<div class="pic" id="photo-snap-flowers"></div>
		<div class="pic" id="photo-snap-flowers"></div>
		<div class="pic" id="photo-snap-flowers"></div>
		</div>
    </a>

    <a href="/photos" style='display:{{picsVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-hat"></div>
		<div class="pic" id="photo-hat"></div>
		<div class="pic" id="photo-hat"></div>
		<div id="o"></div>
		</div>
	</a>

	<a href="/pics" style='display:{{picsVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-leather"></div>
		<div class="pic" id="photo-leather"></div>
		<div class="pic" id="photo-leather"></div>
		<div id="o"></div>
		</div>
	</a>

	<a style='display:{{funVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-snap-bow"></div>
		<div class="pic" id="photo-snap-bow"></div>
		<div class="pic" id="photo-snap-bow"></div>
		</div>
	</a>

    <a href="/pics" style='display:{{picsVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-yellow"></div>
		<div class="pic" id="photo-yellow"></div>
		<div class="pic" id="photo-yellow"></div>
		<div id="o"></div>
		</div>
	</a>

<!-- 	<div class="photos-container">
		<div class="pic" id="photo-snap"></div>
		<div class="pic" id="photo-snap"></div>
		<div class="pic" id="photo-snap"></div>
	</div> -->

	<a href="/paint" style='display:{{paintVal}};'>
    	<div class="photos-container">
		<div class="pic" id="photo-crop"></div>
		<div class="pic" id="photo-crop"></div>
		<div class="pic" id="photo-crop"></div>
		<div id="o"></div>
		</div>
	</a>

    <a href="/design" style='display:{{designVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-apple"></div>
		<div class="pic" id="photo-apple"></div>
		<div class="pic" id="photo-apple"></div>
		<div id="o"></div>
		</div>
	</a>

	<a href="/paint" style='display:{{paintVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-graphic"></div>
		<div class="pic" id="photo-graphic"></div>
		<div class="pic" id="photo-graphic"></div>
		<div id="o"></div>
		</div>
	</a>

    <a href="/paint" style='display:{{paintVal}};'>
    	<div class="photos-container">
		<div class="pic" id="photo-black"></div>
		<div class="pic" id="photo-black"></div>
		<div class="pic" id="photo-black"></div>
		<div id="o"></div>
		</div>
	</a>

	<a href="/paint" style='display:{{paintVal}};'>
	    <div class="photos-container">
		<div class="pic" id="photo-garden"></div>
		<div class="pic" id="photo-garden"></div>
		<div class="pic" id="photo-garden"></div>
		<div id="o"></div>
		</div>
	</a>

    <a href="/paint" style='display:{{paintVal}};'>
    	<div class="photos-container">
		<div class="pic" id="photo-fabric"></div>
		<div class="pic" id="photo-fabric"></div>
		<div class="pic" id="photo-fabric"></div>
		<div id="o"></div>
		</div>
	</a>

    <a href="/design" style='display:{{designVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-suma"></div>
		<div class="pic" id="photo-suma"></div>
		<div class="pic" id="photo-suma"></div>
		<div id="o"></div>
		</div>
	</a>

	<a href="/painting" style='display:{{paintVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-neonbuddha"></div>
		<div class="pic" id="photo-neonbuddha"></div>
		<div class="pic" id="photo-neonbuddha"></div>
		<div id="o"></div>
		</div>
	</a>

	<a href="/painting" style='display:{{paintVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-hilma"></div>
		<div class="pic" id="photo-hilma"></div>
		<div class="pic" id="photo-hilma"></div>
		<div id="o"></div>
	    </div>
	</a>

	<a href="/design" style='display:{{designVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-red"></div>
		<div class="pic" id="photo-red"></div>
		<div class="pic" id="photo-red"></div>
		<div id="o"></div>
		</div>
	</a>

	<a href="/design" style='display:{{designVal}};'>
		<div class="photos-container">
		<div class="pic" id="photo-neon"></div>
		<div class="pic" id="photo-neon"></div>
		<div class="pic" id="photo-neon"></div>
		<div id="o"></div>
		</div>
	</a>

</body>
